<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="sr-only">L</span>
  </div>
<table *ngIf="dataLoaded==true"  class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Film Adı</th>
            <th>Açıklama</th>
            <th>Türü</th>
        </tr>
    </thead>
     <tr *ngFor="let movie of movies">
         <td>{{movie.id}}</td>
         <td>{{movie.name}}</td>
         <td>{{movie.description}}</td>
         <td>{{movie.type}}</td>
         
     </tr>
</table>
